body {
    font-family: sans-serif;
    background-image: url(https://learn.logikaschool.com/uploads/student/1277150/65db13010bdc0.png);
}

.logo {
    text-align: center;
}

.social_media {
    position: absolute;
    right: 100px;
    top: 55px;
}

.tovary {
    text-align: center;
}

.tovary_ryadok1 {
    text-align: center;
}

.tovary_ryadok2 {
    text-align: center;
    bottom: 35px;
}

.bgbulba {
    text-align: center;
    right: 100px;
    display: inline-block;
    width: 40%;
    margin: 20px;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buy{
    background-color: rgb(153, 7, 7);
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 22px;
}

footer{
    color:crimson;
    font-size: 20px;
    margin-top: 15px;
}


hr{
    border-color:black;
    size: 10;
    margin-top: 33px;
}
